@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');



*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 2.29;
	font-weight: 400;
	color: #a5a5a5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #FFD266;
	color: #C88E00;
}
p::selection
{
	background: #FFD266;
	color: #C88E00;
}
h1{font-size: 36px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}

::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}



/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}

/* footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }/* fin de footer */




  /* responsive de footer */
@media screen and (max-width:800px){
	.pie-pagina .grupo-1{
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap:30px;
		padding: 35px 0px;
	}
  }/* fin */




/* todo lo que es responsive */

@media only screen and (max-width: 1280px)
{
	.register_content,
	.search_content
	{
		width: 442px;
	}
}




@media only screen and (max-width: 991px)
{

	.register_content,
	.search_content
	{
		width: 75%;
	}

}



@media only screen and (max-width: 1020px)
{

	.register_section,
	.search_section
	{
		padding-top: 115px;
		padding-bottom: 120px;
	}
	.register_content,
	.search_content
	{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* inicio clientes */
.partner-logo{

    width: 200px;
    position: relative;
    top:40px ;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fh5co-trusted{

    display: flex;
    /* transform: translateX(5%); */
    justify-content: center;
    align-items: center;
}

#fh5co-trusted{

        margin-top: 80px;
        margin-bottom: 80px;
        padding-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#Mivi{


    width: 220px;
}

#libertad{

    position: relative;

}


    .img-responsive{

        width: 60%;



    }
        #img-vivienda{
            padding: 10px;
            width: 84%;
            margin: 10px;

        }

    #techoP{

        width: 140px;
    }

    #Clientes-contenedor  #to-animate{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #Clientes-contenedor #partes{
        display: flex;
        justify-content: center;
        align-items: center;
    }


#ministerio{
   width: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
}
@media only screen and (min-width: 579px) and (max-width: 1200px){
    .fh5co-trusted{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    #ministerio{
        display: flex;
        justify-content: center;
        align-items: center;
     }

    #Clientes-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .col-md-2{
        margin: 50px 50px 50px 180px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

     #fotos-cliente{

        margin: 50px 50px 50px 180px;
        left: 0px;
        right: 0px;
        position: relative;
    }
    .to-animate-2{
        margin: 0;
        top: 0;
    }

    .to-animate-3{
        margin: 0;
    }
    .partner-logo img{
        width: 60%;
    }
    .partes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 300px) and (max-width: 578px){
    .fh5co-trusted{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        justify-items: center;
    }
    .partes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

    }
    .partner-logo img{
        width: 60%;
    }
    #fotos-cliente{
        margin: 50px 0px 50px auto;
        left: 0px;
        right: 0px;
        position: relative;
    }
    .col-md-2{
        margin: 50px 0px 50px auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

    }
    .to-animate-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0;
        top: 0;
    }
}
/* fin */

