
.hero-section {
    background-image: url('https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 100px 0;

    text-align: center;
}

.hero-content {
    padding: 20px;
}

.hero-content h1 {
    font-family: 'Kanit', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.custom-button {
    font-size: 18px;
    padding: 15px 30px;
}
