

/* contador*/
/* Estilos para la fuente cursive-font */
.cursive-font {
    font-family: "Kaushan Script", cursive;
    }

    /* Color primario */
    .primary-color {
    color: #FBB448 !important;
    }

    .gtco-container {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    }


    .feature-center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 30px;
    float: left;
    width: 100%;
    margin-bottom: 40px;


    }


    .gtco-heading {
    margin-bottom: 5em;
    position: relative;
    transform: translateY(50%);
    transform: translateX(25%);

    }



    .gtco-heading p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
    }

    /* Estilos para secciones con fondo */
    #gtco-counter,
    .gtco-section {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    }

    /* Estilos para texto pequeño en el centro */
    #gtco-counter .intro-text-small {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.15em;
    display: block;
    margin-bottom: 10px;
    }

    /* Estilos para títulos h1 y h2 */
    #gtco-counter h1,
    #gtco-counter h2 {
    margin: 0;
    padding: 0;
    color: white;
    }

    #gtco-counter h1 {
    margin-bottom: 30px;
    font-size: 59px;
    line-height: 1.2;
    font-weight: 300;
    }



    #gtco-counter h2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
    }

    /* Estilos para los contadores */
    #gtco-counter {
    text-align: center;
    }

    #gtco-counter .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #FBB448;
    font-weight: 100;
    display: block;

    }

    #gtco-counter .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1em;
    }

    /* responsive */
    @media screen and (max-width: 768px) {
    #gtco-counter .animate-box {
        margin-bottom: 50px;
    }
    }
    @media screen and (max-width: 768px) {
    .feature-center {
        position: relative;
        top: 30px;
        margin-bottom: 20px;
    }
    }
    @media screen and (max-width: 768px) {
    .gtco-heading h2 {
        font-size: 26px;
    }

    .gtco-heading{
        transform: translateY(30%);
    }
    }

    @media screen and (max-width: 768px) {
    #gtco-counter h1 {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    }
/* Fin */




/* Prueba card */
.cartass{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 85px;
    margin-bottom: 25px;
    top: 10px;
    width: 82%;
    left: 180px;



  }

  @media only screen and (max-width: 991px) {
    .cartass{
        top: 10px;
        width: 82%;
        left: 50px;

      }
  }

  .card {
    top: 70px;
    margin-bottom: 120px;
    width: 400px;
    height: 0;
    display: flex;
    overflow: hidden;
    background-color: rgba(42, 42, 42);
    box-shadow: 0 5px 10px black;

    transition: 0.4s;

  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 20px black;
    border-radius: 60px;
  }

  .card .img-card {
    background-image: url(../img/EMPRESA2.jpg);

    width: 100%;
    height: 360px;
    background-size: cover;
  }

  .card .content {
    width: 100%;
    height: 73%;
    display: grid;
    grid-template-rows: 50px 15px 50px;
    padding: 1px 10px;

  }

  .card .content .title h3 {
    color: black;
  }

  .card .content .text p {
    color: black;
    font-size: 15px;
  }

  #carta2 .img-card {
    background-image: url(../img/EMPRESA2.jpg);
    width: 100%;
    height: 360px;
    background-size: cover;
  }

  #carta3 .img-card {
    background-image: url(../img/EMPRESA2.jpg);
    width: 100%;
    height: 360px;
    background-size: cover;
  }
  /* fin */




/*********************************
10. Register
***********/

.register
{
	width: 100%;
    height: 800px;
    /* border-style: solid; */
    margin-bottom: 30px;

}

/*acordion*/
#accordion-entero{
    width: 300px;
    height: 794px;
}

.accordion-body{
    height: auto;
}


.accordion {
    width: 100%;
    margin: 0px auto;
    color: black;
    padding: 45px 45px;
  }

  .accordion .contenedor {
    position: relative;
    margin: 10px 10px;
    border-radius: 50px ;
    border: 2px solid black;
  }

  .contenedor.active{
    border-radius: none;
    border-style: none;
  }

  .accordion .label {
    position: relative;
    padding: 10px ;
    font-size: 22px;
    color: black;
    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 30px;
    transform: translateY(-50%);
  }

  .accordion .content4 {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
  }

  .accordion hr {
    width: 100%;
    margin-left: 0;
    border: 1px solid grey;
  }

  .accordion .contenedor.active .content4 {
    height: 120px;

  }

  .accordion .contenedor.active .label {
    margin: 10px 10px;
    border-radius: 50px ;
    border: 2px solid black;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



  .accordion .contenedor.active .label::before {
    content: '-';
    font-size: 30px;

  }

  .col-md-6.nopadding .search_background {
    background-image: url(https://qlu.ac.pa/wp-content/uploads/2023/04/ingeniero-civil-trabajador-construccion-arquitectos-que-usan-cascos-chalecos-seguridad-estan-trabajando-juntos-sitio-construccion-construyendo-casa-concepto-trabajo-equipo-cooperacion-scaled.jpg);
    background-size: cover ;

}

@media only screen and (min-width: 300px) and (max-width: 767px){

    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
    }
    .row-eq-height{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
    }
    #accordion-entero{
        width: auto;
    }
    .accordion{
        margin-top: 120px;
    }
    .contenedor .label{
        font-size: 15px;
    }
}

/* muestra*/

.action {
    background: #f2f2f2;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px 0;


}
#action-01{

    position: relative;
    left: 100px;

}
.action .left-text h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600px;
    letter-spacing: 1px;
    transform: translateX(15%);

}
.left-text{
    transform: translateX(-25%);

}

.action .left-text p {
    padding-top: 20px;
}

.action .left-text em {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    font-style: normal;
}

.action .right-image {
    background-size: cover;
    background-position: center;
    position: relative;
    top: 30px;
    height: 80%;

    padding-left: 20px;
    padding-right: 20px;
}

#fotos{
    width: 450px;
}

.right-image{
    transform: translateX(-5%);
    width: 700px;

}



@media (max-width: 980px) {

    .action .right-image {
        padding: 20px;
        text-align: center;


    }

    .left-text h4{
        position: relative;
        right: 50px;

    }
    #action-01{

        width: 800px;
    }

    #fotos{
        position: relative;
        height: 200px;
        width: 350px;
        top: 70px;

        transform: translateX(-20%);

    }

}


@media (max-width: 760px) {

    .left-text {
        position: relative;
        left: 40px;
    }

    #fotos{
        position: relative;
        height: 200px;
        width: 350px;
        top: -10px;



        transform: translateX(-1%);

    }
}



/*********************************
11. Search
*********************************/

.col-md-6.nopadding .acordion-foto {
  background-image: url(https://i.ibb.co/4ZCKDwB/fotos-inges.png);
  background-size: contain ;
  filter: drop-shadow(4px 6px 12px black);
}



.foto-acordion{
  width: 100%;
  height: 100%;
}

.acordion-foto{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

.search_content
{
    margin: 50px;
    /* margin-top: 500px; */
	width: 622px;
    transform: translateX(-2%);
}




/* hero area */
.hero-prueba {
    background-image: url(https://images.unsplash.com/photo-1608159503633-9435943bb7f0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }

  .hero-texto {
    display: table;
    height: 100%;
  }

  .hero-tablecell {
    display: table-cell;

  }

  .hero-area {
    height: 100%;
    position: relative;
    z-index: 1;

  }



  .hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.6;
  }


  .hero-texto .search_title {
    font-size: 35px;
    font-weight: 700;

    color: #fff;
  }

  .hero-area div {
    height: 100%;
  }

  .hero-area div.hero-texto {
    height: 100%;
    width: 100%;
  }

  .hero-area div.hero-tablecell {
    margin: 30px;
    padding-top: 50px;
    height: auto;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-area div.hero-tablecell div {
    height: auto;
    vertical-align: middle;
  }



/* fin */



/*********************************
11.1 Search Form
*********************************/

.search_form
{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_field
{
	width: 100%;
	height: 42px;
    background: transparent; /* Ajusta el último valor para cambiar la opacidad */
	box-sizing: border-box;
	border: solid 2px #FFFFFF;
	padding-left: 25px;
    border-radius: 5px;
	margin-bottom: 24px;
}
input:last-of-type
{
	margin-bottom: 0px;
}
.input_field:focus
{
	outline: none !important;
	border: solid 2px #ffb606;
}
.search_submit_button
{
	width: 100%;
	height: 48px;
	background: #ffb606;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 28px;
	border-radius: 50px;
    border: none;
	cursor: pointer;
}
.search_submit_button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.search_submit_button:focus
{
	outline: solid 2px #FFFFFF;
}

/* proyectos */

.gallery .all{
    color: black;

}
.gallery{
    padding: 80px 0px;


}

.gallery img{
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(250, 247, 247);
}

#gallery-popup .modal-img{
    width: 100%;

}
p{
    color: var(--letras);
    text-align: center;

}


#galerias{
    cursor: pointer;

}


.all{

    display: inline;
    padding: 5px 15px;


}


/*  Call to Action Start*/


.section-space-padding {
    padding: 100px 0px;
}
.button {
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 17px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 60px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-style {
	border: 3px solid #fff;
	color: #fff;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
	color: #ffffff;
	background: #4c9cef;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
	color: #ffffff;
	background: #f7639a !important;
}

.button-style-dark {
	border: 3px solid #000000;
	color: #000000;
}




/* noticia card */

.card .img-card1 {
    background-image: url(../img/noticia1.jpg);

    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .card .img-card2 {
    background-image: url(../img/noticia2.jpg);

    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .card .img-card3 {
    background-image: url(../img/noticia3.jpg);

    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .card .img-card4 {
    background-image: url(../img/noticia4.jpg);

    width: 100%;
    height: 200px;
    background-size: cover;
  }

 /* fin */


